<h2>Welcome to SSStutterBuddy!</h2>

<p>Hello <%= @user.first_name %> we're glad to have you onboard!</p>

<p>Please click <%= link_to, 'this link' %> to confirm your email.</p>

<p>The SSStutterBuddy Team</p>
