<h1>Frequently Asked Questions</h1>

<h4>How will SSStutterBuddy protect my privacy?</h4>
<p>
	SSStutterBuddy cares about protecting the privacy of our users. (And unlike most tech companies, <i>we actually mean it!</i>)
</p>
<p>
	The only information SSStutterBuddy requires from you is your first name, last name (or initial), and the town where you reside. We ask for your town of residence in order to connect you with studies being conducted near you.
</p>
<p>
	SSStutterBuddy is a sealed enviroment. Only vetted researchers are able to view participants on the platform. <b>There is no way for strangers or even other PWS to see who is on the platform.</b>
</p>
<p>
	Furthermore, your name will not be displayed to researchers unless you confirm interest in participating in their study. When you show up in a researcher's search results, SSStutterBuddy doesn't show your real name, it shows a randomly-generated <i>alias</i>.
</p>

<div class="example-rows">
	<p>Say there are three users -- Jane Doe who lives in Somerville, MA, Ralph E. who lives in Concord, MA, and William S. who lives in Stratford-upon-Avon, UK. A researcher who posted an in-person study in Boston would see them as:</p>
	<p><i>Blue Enhydra lutris</i> -- 2 miles away -- <a href="#">Invite to study</a> -- <a href="#">Send message</a></p>
	<p><i>Ursae Minoris</i> -- 16 miles away -- <a href="#">Invite to study</a> -- <a href="#">Send message</a></p>
	<p><i>Iago Acrostic</i> -- 3192 miles away -- <a href="#">Invite to study</a> -- <a href="#">Send message</a></p>
</div>

<p>
	SSStutterBuddy will have an anonymous email service (like Craigslist) that allows researchers and PWS to send messages back and forth without disclosing the identity of the PWS. This means you ask questions about a study without divulging personal information.
</p>

<h4>How can I tell if I want to participate in a study?</h4>
<p>
</p>

<h4>How does SSStutterBuddy make money?</h4>
<p>
	That's the neat part. It doesn't.
</p>
<p>
	<b>SSStutterBuddy is free and will always be free.</b> SSStutterBuddy will neither charge researchers for posting studies, nor take a cut from the compensation given to study participants.
</p>
<p>
	Our mission is to help advance stuttering research. As such, we feel that any money earmarked for research should go either towards the PWS who participate in studies or the study itself, not a third-party application.
</p>
<h4>But building a web application is expensive. How will SSStutterBuddy do it without money?</h4>
<p>
	The most expensive part of creating a new web application is not buying the technology, it's paying the developers who write the code. SSStutterBuddy's founder, Tom Lovett, is a professional web developer who has donated personal time to build this project.
</p>
<p>
	If you would like to volunteer for the pokect, send an email to admin at ssstutterbuddy dot com. Technical skills are preferred, but anyone can help!
</p>
<p>
	SSStutterBuddy will accept donations to help defray the minor costs of hosting the website. Large donations will be put towards hiring professional talent to supplement volunteer work.
</p>
