<h3>Welcome to SSStutterBuddy!</h3>
<p>
  SSStutterBuddy is a free, not-for-profit online platform that connects <b>people who stutter (PWS)</b> with researchers who need study participants.
</p>
<h4>Why would anyone need SSStutterBuddy?</h4>
<p>
  You might be surprised, but the biggest impediment to stuttering research is usually not funding, research ideas, or even technology -- <b>it's finding enough PWS to participate in the study!</b>
</p>
<p>
  If you (or your child) are a PWS, you can support hard-working researchers as they advance our knowledge of stuttering's expression, causes, and treatments by participating in studies.
</p>
<p>
  As a nice bonus, most studies compensate participants for their time and effort. So you can <b>do a good deed and be paid for it as well!</b>
</p>
<p>
  (For exmaple, the first study on this platform gave participants $120 (plus Uber/parking) for only two two-hour sessions!)
</p>
<p>
  SSStutterBuddy will <i>never</i> share your personal details unless <i>you</i> decide to connect with a study.
</p>
<h4>Call to Action</h4>
<p>
  SSStutterBuddy is currently in development and expected to launch in Q1 2025.
</p>
<p>
  Curious? Interested? Fill out this short Google Form to be alerted when SSStutterBuddy goes live!
</p>
<!-- Join 1,234 PWS who are already on the platform! -->
