<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }
      .container { max-width: 600px; margin: 2rem auto; padding: 20px; }
    </style>
  </head>
  <body>
    <div class="container">
      <p>Emails are working</p>
    </div>
  </body>
</html>

