<h1>Edit your researcher profile</h1>

<%= render "form", researcher: @researcher %>
<br>

<div>
  <%= link_to "Back to my profile", @researcher %> |
  <%# <%= link_to "Back to researchers", researchers_path %> %>
</div>
